<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <link rel="icon" href="/img/favicon.png" sizes="32x32" type="image/png">
   {{#if estilos}}
   {{> (estilos) }}
   {{/if}}
   {{#if scripts}}
   {{> (scripts) }}
   {{/if}}
   <title>{{titleHTML}}</title>
</head>
<body>
    {{{body}}}
</body>
</html>