<div id="centrado">
<section id="error">
   <img src="img/manchaError.png" alt="error">
   {{> (errorhbs) }}
   <p class="atras"><a href="#" onclick="window.history.back();" title="Volver atrás">Volver atrás...</a></p>
   <p class="bordeError">{{error}}</p>
</section>
</div>